<app-loading [loading]="carregando"></app-loading>
<div class="login-register" style="background: #15723b;">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img alt="homepage" src="assets/images/hubbi.PNG" style="width: 200px;">
                        <h4 class="m-t-10">Sessão Expirada</h4>
                    </div>

                    <div class="text-center">
                        <p class="m-t-0 m-b-0">{{ usuarioLogado.nome }}</p>
                        <p class="m-t-0">{{ usuarioLogado.email }}</p>
                    </div>

                    <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Senha" [formControl]="form.controls['senha']">
                            </mat-form-field>
                            <small *ngIf="form.controls['senha'].hasError('required') && form.controls['senha'].touched" class="text-danger support-text">Senha é obrigatório.</small>
                        </div>

                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button class="btn-block btn-lg m-t-10 m-b-10" color="primary" type="submit" [disabled]="!form.valid">Desbloquear</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>