<mat-form-field class="form-group">
    <input matInput currencyMask class="form-control"
        [(ngModel)]="value"
        [value]="innerValue"
        [readonly]="readonly" 
        [disabled]="disabled" 
        (change)="onChange($event.target.value)"
        (blur)="onBlur()"
        (keydown.enter)="onChange($event.target.value)"
        (keyup)="keyup ? onChange($event.target.value) : null"
        [placeholder]="placeholder"
        [options]="getOptionMask()"
        [required]="required">
    <mat-hint *ngIf="shouldShowErrors()" class="text-danger"> 
        <span *ngFor="let error of listOfErrors() | slice:0:1">{{error}}</span>
    </mat-hint>
</mat-form-field>