.item {
  height: 40px !important;
}
.subitem {
  padding-left: 30px !important;
  height: 36px !important;
}
.profile-item {
  cursor: default !important;
  height: 25px !important;
  background: #15723b !important;
  padding: 3px 15px !important;
}

.icon-item {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
