<div class="page-titles">
    <div class="col-md-5 col-8 align-self-center" fxLayout="row" fxLayoutAlign="start start">
        <!-- <h3 fxFlex="initial" class="text-themecolor m-b-0 m-t-0 p-t-0">{{titulo}} &nbsp;</h3> -->
        <ol fxFlex="auto" class="breadcrumb">
            <li *ngIf="nivel1" [ngClass]="ngClass(1)">&nbsp;
                <span class="text-themecolor" style="font-weight: 500;">{{nivel1}}</span>
                &nbsp;</li>
            <li *ngIf="nivel2" [ngClass]="ngClass(2)">&nbsp;
                <span class="text-themecolor" style="font-weight: 500;">{{nivel2}}</span>
                &nbsp;</li>
            <li *ngIf="nivel3" [ngClass]="ngClass(3)">&nbsp;
                <span class="text-themecolor" style="font-weight: 500;">{{nivel3}}</span>
                &nbsp;</li>
        </ol>
    </div>
</div>