<app-loading [loading]="carregando"></app-loading>
<div class="login-register" style="background: #15723b;">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <div class="text-center">
                    <img alt="homepage" src="assets/images/hubbi.PNG" style="width: 200px;">
                    <h4 class="m-b-0" *ngIf="tokenValido">Alterar Senha</h4>
                </div>

                <form [formGroup]="form" *ngIf="!validandoToken && tokenValido" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <!-- <app-input fxFlex.xs="100" fxFlex="100" formControlName="email" readonly></app-input> -->
                    <mat-form-field fxFlex.xs="100" fxFlex="100">
                        <input matInput placeholder="E-mail" formControlName="email" readonly>
                    </mat-form-field>

                    <div fxFlex.xs="100" fxFlex="100">
                        <mat-form-field style="width: 100%">
                            <input matInput type="password" placeholder="Nova Senha" [formControl]="form.controls['senha']">
                        </mat-form-field>
                        <small *ngIf="form.controls['senha'].hasError('required') && form.controls['senha'].touched" class="text-danger support-text">Insira uma senha.</small>
                        <small *ngIf="form.controls.senha.hasError('forcaDaSenha') && form.controls['senha'].touched" class="text-danger support-text">
                            Deve conter: entre 8 a 30 caracteres, no mínimo 1 letra e 1 número
                        </small>
                    </div>

                    <div fxFlex.xs="100" fxFlex="100">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Confirme a Senha" [formControl]="form.controls['nova_senha']" type="password">
                        </mat-form-field>
                        <small *ngIf="form.controls['nova_senha'].hasError('required') && form.controls['nova_senha'].touched" class="text-danger support-text">Confirme sua senha.</small>
                        <small *ngIf="form.controls['nova_senha'].errors?.equalTo" class="text-danger support-text">Senhas não conferem.</small>
                    </div>

                    <div fxFlex.xs="100" fxFlex="100">
                    </div>
                    <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" (click)="recuperarSenha()" [disabled]="form.invalid || carregando">
                        {{carregando ? 'Alterando senha...':'Alterar Senha'}}
                    </button>
                    <span>Ir para tela de
                        <a [routerLink]="['/auth/login']" class="text-hubbi link">Login</a>
                    </span>
                </form>

                <span *ngIf="validandoToken">
                    <app-loading [loading]="validandoToken"></app-loading>
                    <div class="text text-success">Verificando token de solicitação... Aguarde...</div>
                </span>

                <span *ngIf="!tokenValido && !validandoToken">
                    <div class="text text-danger text-center p-t-20 p-b-20" style="font-weight: bold;">{{msg}}</div>
                    <a style="text-align: center; display: block" [routerLink]="['/auth/recuperar_senha']">Clique aqui para solicitar uma nova recuperação de senha.</a>
                </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>