<app-loading [loading]="carregando"></app-loading>
<div class="login-register" style="background: #15723b;">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <div class="text-center">
                    <img alt="homepage" src="assets/images/hubbi.PNG" [routerLink]="['/auth/login']" style="width: 200px;">
                    <h4 class="m-b-0">Ativação de Conta</h4>
                </div>

                <span *ngIf="carregando">
                    <app-loading [loading]="carregando"></app-loading>
                    <div class="text text-success">Verificando token de ativação... Aguarde...</div>
                </span>

                <span *ngIf="!tokenValido && !carregando">
                    <div class="text text-danger text-center p-t-20 p-b-20" style="font-weight: bold;">{{msg}}</div>
                </span>

                <span *ngIf="tokenValido && !carregando">
                    <div class="text text-success text-center p-t-20 p-b-20" style="font-weight: 600; font-size: 20px;">{{msg}}</div>
                    <a style="text-align: center; display: block" [routerLink]="['/auth/login']">Clique aqui para acessar a tela de login.</a>
                </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>