<!-- <mat-form-field>
        <input hidden type="file" #ofxFile>
        <input  
            matInput
            (click)="ofxFile.click()"
            [readonly]="readonly" 
            [disabled]="disabled" 
            (change)='onChange($event.target.value)'
            (blur)="onBlur()"
            (keydown.enter)="onBlur()"
            (keyup)=" keyup ? onBlur() : null"
            [placeholder]="placeholder" 
            [required]="required">
        <mat-icon matSuffix (click)="ofxFile.click()">attach_file</mat-icon>
        <mat-error *ngIf="erro && erroMsg"> {{ erroMsg }}</mat-error>
        <mat-error *ngIf="erro && !erroMsg"> Campo obrigatório.</mat-error>
</mat-form-field> -->