<app-loading [loading]="carregando"></app-loading>
<!-- <div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);"> -->
<div class="login-register" style="background: #15723b;">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" style="font-size: 14px;">
                    <div class="text-center">
                        <img alt="homepage" src="assets/images/hubbi.PNG" [routerLink]="['/auth/login']" style="width: 200px; cursor: pointer;">
                        <h4 class="m-b-0">Registrar</h4>
                    </div>
                    <div fxLayout="row wrap">
                        <!-- CNPJ -->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="CNPJ" type="cnpj" formControlName="cnpj" [textMask]="getMask()" required>
                                <mat-error *ngIf="form.controls['cnpj'].hasError('required') && form.controls['cnpj'].touched">CNPJ é obrigatório.</mat-error>
                                <mat-error *ngIf="form.controls['cnpj'].errors?.invalid && form.controls['cnpj'].touched">CNPJ inválido.</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- MODALIDADE -->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <mat-select placeholder="Modalidade" formControlName="modalidade" required>
                                    <mat-option *ngFor="let modalidade of modalidades" [value]="modalidade"> {{modalidade}} </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls['modalidade'].hasError('required') && form.controls['modalidade'].touched">Selecione uma modalidade. </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- EMAIL -->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="E-mail para Login" type="email" formControlName="email" required>
                                <mat-error *ngIf="email.hasError('required') && email.touched">E-mail é obrigatório.</mat-error>
                                <mat-error *ngIf="email.errors?.email && email.touched">Digite um e-mail válido.</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- SENHA -->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input matInput type="password" placeholder="Senha" formControlName="senha" required>
                                <mat-error *ngIf="senha.hasError('required') && senha.touched">Senha é obrigatório.</mat-error>
                                <mat-error *ngIf="senha.hasError('pattern') && senha.touched">
                                    <li>Deve conter entre 8 a 30 caracteres</li>
                                    <li>Deve conter no mínimo 1 letra e 1 número</li>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- CONFIRMAÇÃO SENHA -->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Confirmação de Senha" formControlName="confirmarSenha" type="password" required>
                                <mat-error *ngIf="confirmarSenha.hasError('required') && confirmarSenha.touched">Confirme a senha.</mat-error>
                                <mat-error *ngIf="confirmarSenha.errors?.equalTo">As senhas são diferentes.</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- TERMOS -->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="padding-top: 10px;">
                            <mat-checkbox class="font-14" formControlName="checkTermos">Eu concordo com os
                                <a href="javascript:void(0)" class="link text-info">termos</a>.</mat-checkbox>
                        </div>
                        <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Criar sua conta</button>

                        <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <span>Já possui uma conta?
                                <a [routerLink]="['/auth/login']" class="link text-info"> Login</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>