mat-list-item.config {
    height: 38px;
    color: rgba(0, 0, 0, 1);
}

mat-list-item.config a mat-icon {
    margin-right: 4px
}

.payment-status-box {
    text-align: center;
    padding: .5rem;
}

.status-pending-payment {
    background: #ffc107;
    color: #000;
}

.underline {
    text-decoration: underline;
}